* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

.container {
    height: 100vh;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #FFC300 !important;
    flex-direction: column;
    /* margin-top: 150px; */
}
body{
   
}
.green {
    border: 2px solid black;
    width: 350px;
    height: 350px;
    text-align: center;
border-radius: 20px;
border: none;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
background-color: black;
}

.green h1 {
    margin-top: 50px;
    text-transform: uppercase;
    color: #fff;
}
.green p{
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    position: relative;
}
.icr{
    position: relative;
    background-color: #fff !important;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.decr{
    position: relative;
    background-color: #fff !important;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.clear{
    position: relative;
    background-color: #fff !important;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-top: 30px;
}